// Place all the styles related to the doses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dose-color {
  color:#779CAB;
  font-weight: bold;
  margin-bottom: 20px;
}

